*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  height: 1158px;
  width: 100%;
  overflow: hidden;
}
@media (max-width:768px) { 
  .app {
    height: 1088px;
  }
}


@media (max-width: 480px) { 
  .app {
    height: 1088px;
  }
}

